<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome Brand</th>
        <th scope="col">Descrizione</th>
      <th scope="col">Logo</th>
      <th scope="col">Azioni</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let brand of brands; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ brand.name }}</td>
        <td>{{ brand.description }}</td>
      <td>
        <img *ngIf="brand.logo_url" [src]="brand.logo_url" alt="{{ brand.name }}" width="50" />
        <span *ngIf="!brand.logo_url">N/A</span>

      </td>
      <td>
             <div class="btn-group" role="group">
              <button type="button" class="btn btn-primary" (click)="editBrand(brand.id)"> <i class="bi bi-pencil"></i>
              </button>
              <button type="button" class="btn btn-success" (click)="addBrand()"> <i class="bi bi-plus-circle-dotted"></i>
              </button>
              <button type="button" class="btn btn-danger" (click)="deleteBrand(brand.id)">
              <i class="bi bi-trash"></i></button>
            </div>
      </td>
    </tr>
  </tbody>
</table>
