.home-container {
  /* padding: 40px; */
  text-align: center;
  max-height: 500px;
  
}

button {
  background-color: #ffcc00;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: 600;
}

button:hover {
  background-color: #e6b800;
}
